body {
  font-family: "Open Sans", sans-serif;
  height: 100vh;
  width: 80%;
  margin: auto;
  background-color: #fbfbfb;
  overflow-x: hidden;
  font-size: 17px;
}

header {
  display: flex;
  align-items: center;
  margin-top: 50px;
  margin-bottom: 30px;
  gap: 4px;
  position: relative;
  z-index: 1;
}
header .logo-span {
  padding-top: 2px;
  padding-left: 6px;
  color: #111111;
  opacity: 0.17;
  font-weight: 600;
}

a {
  text-decoration: none;
}

.theme {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  position: relative;
  top: -80px;
}
.theme .txt-content h1 {
  margin-bottom: 60px;
  font-size: 34px;
  color: #171727;
  letter-spacing: -1.65px;
}
.theme .txt-content p {
  color: #747482;
  font-size: 16px;
  line-height: 1.6em;
}
.theme .txt-content .cta {
  margin-top: 20px;
  box-shadow: 0 11px 20px rgba(40, 18, 197, 0.17);
  font-weight: bold;
  font-size: 15px;
  color: #fff;
  border-radius: 32px;
  height: 47px;
  width: 215px;
  background: linear-gradient(162deg, #3672f8, #b01eff);
  border: none;
}
.theme .txt-content .cta img {
  margin-left: 5px;
}
.theme .txt-content .cta:hover {
  transition: all 0.2s ease-in-out;
  background-blend-mode: darken;
}
.theme .txt-content .social-links {
  margin-top: 60px;
}
.theme .txt-content .social-links .fb-button {
  background-color: rgba(161, 199, 248, 0.8);
  border: none;
  border-radius: 3px;
  font-size: 10px;
  color: white;
  height: 20px;
  width: 60px;
  -o-object-fit: contain;
     object-fit: contain;
  text-align: center;
  cursor: pointer;
}
.theme .txt-content .social-links .fb-button:hover {
  background-color: rgb(161, 199, 248);
  transition: 0.2s all ease-in-out;
}
.theme .txt-content .social-links .fb-button img {
  height: 10px;
}
.theme .txt-content .social-links .twitter-button {
  background-color: rgba(161, 199, 248, 0.8);
  border: none;
  border-radius: 3px;
  font-size: 10px;
  color: white;
  height: 20px;
  width: 60px;
  -o-object-fit: contain;
     object-fit: contain;
  text-align: center;
  cursor: pointer;
}
.theme .txt-content .social-links .twitter-button:hover {
  background-color: rgb(161, 199, 248);
  transition: 0.2s all ease-in-out;
}
.theme .txt-content .social-links .twitter-button img {
  height: 10px;
}

.image-video img {
  position: absolute;
  z-index: -1;
  height: 800px;
  width: 900px;
}
.image-video video {
  height: 650px;
  width: 650px;
  mix-blend-mode: darken;
}

.footer {
  display: flex;
  justify-content: space-between;
  gap: -20px;
}
.footer a {
  text-decoration: none;
}
.footer .policies {
  display: flex;
  gap: 20px;
  align-items: center;
  margin-top: 40px;
}
.footer p {
  display: inline-block;
  font-size: 10px;
  cursor: pointer;
  color: rgba(163, 159, 177, 0.5);
}
.footer p:hover {
  color: rgb(163, 159, 177);
  transition: 0.2s all ease-in;
}

@media (max-width: 600px) {
  body {
    width: 90%;
    overflow-y: auto;
  }
  .theme {
    flex-direction: column;
  }
  .theme .txt-content {
    padding-right: 0;
  }
  .theme .txt-content h1 {
    font-size: 24px;
    font-weight: bold;
    margin-top: 80px;
  }
  .theme .txt-content .social-links {
    margin-top: 30px;
  }
  .theme .image-video video {
    width: 500px;
  }
}
.text {
  padding-top: 20px;
  text-align: center;
  margin-bottom: 50px;
}
.text a {
  text-decoration: none;
  color: #505469;
}
.text h1 {
  color: #171727;
  font-size: 33px;
  letter-spacing: -0.5px;
  margin-bottom: 28.05px;
  font-weight: 800;
}
.text p {
  color: #747482;
  font-size: 17 px;
  line-height: 27.2px;
  letter-spacing: 0.4px;
}

.prototype-cards-section {
  display: flex;
  justify-content: center;
  gap: 17px;
}
.prototype-cards-section .prototype-card {
  background-color: white;
  height: 200px;
  width: 267px;
  text-align: center;
  border: 1px solid rgba(28, 31, 62, 0.09);
  position: relative;
  box-shadow: 0 6px 3px rgba(36, 25, 171, 0.11);
  border-radius: 4px;
}
.prototype-cards-section .prototype-card:hover {
  transition: all 0.1s ease;
  background: #e8ecff;
  border: 1px solid #c1c6ec;
}
.prototype-cards-section .prototype-card:active {
  background-color: #e8ecff;
}
.prototype-cards-section .prototype-card .prototype-card-img-mob {
  position: absolute;
  top: 36px;
  left: 93px;
  height: 65px;
  width: 90px;
}
.prototype-cards-section .prototype-card .prototype-card-img-web {
  position: absolute;
  height: 72px;
  width: 90px;
  top: 36px;
  left: 87px;
}
.prototype-cards-section .prototype-card .prototype-card-caption {
  position: absolute;
  top: 148px;
  left: 113px;
  display: block;
  color: #505469;
  font-weight: bolder;
}
.prototype-cards-section .prototype-card .last {
  left: 86px;
}
.prototype-cards-section .prototype-card .mob-2 {
  position: absolute;
  top: 47px;
  left: 134px;
  height: 62px;
}

.prev-theme .prev-txt-content .cta{
  margin-top: 50px;
  box-shadow: 0 11px 20px rgba(40, 18, 197, 0.17);
  font-weight: bold;
  font-size: 15px;
  color: #fff;
  border-radius: 32px;
  height: 47px;
  width: 215px;
  background: linear-gradient(162deg, #3672f8, #b01eff);
  border: none;
}

.prototype-cards-section1 {
  display:inline;
  justify-content: center;
 margin-left: 150px;
 
}
.prototype-cards-section1 .prototype-card {
  background-color: white;
  height: 40px;
  width: 210px;
  text-align: center;
  border: 2px solid rgba(28, 31, 62, 0.09);
  position: relative;
  box-shadow: 0 6px 3px rgba(36, 25, 171, 0.11);
  border-radius: 1px;
  }



.prototype-cards-section1 .prototype-card .prototype-card-caption {
 
 
  display: block;
  color: #505469;
 
}

.i-tag{
  opacity:0.5 ;
  font-family: sans-serif;
  font-size: 10px;
}

.g1{
  padding-left: 0px;
}

.prototype-cards-section12 {
  display: flex;
  justify-content: center;
  gap: 17px;
}
.prototype-cards-section12 .prototype-card12 {
  background-color: white;
  height: 300px;
  width: 800px;
  text-align: left;
  border: 1px solid rgba(28, 31, 62, 0.09);
  position: relative;
  box-shadow: 0 6px 3px rgba(36, 25, 171, 0.11);
  border-radius: 4px;
}

.prototype-cards-section12 .prototype-card12 .prototype-card-img-mob12 {
  position: ceter;
  top: 36px;
  left: 93px;
  height: 200px;
  width: 100%;
  margin-top: 50px;
  
}

.prototype-cards-section12 .text12a {
  background-color: white;
  height: 200px;
  width: 200px;
  text-align: left;
  border: 1px;
  margin-top: -150px;
  
  color: black;
  position: flex;
  border-radius: 8px;
  opacity: 0.5;
  list-style-type: circle;
 
}
.prototype-cards-section12 .text12b {
  background-color: white;
  height: 200px;
  width: 170px;
  color: black;
  text-align: left;
  margin-top: -215px;
  margin-left: 540px;
  position: flex;
  list-style-type: circle;
  opacity: 0.5;
  border-radius: 8px;
 
}
.texth2{
  background-color: white;
  height: 100px;
  width: 900px;
  text-align: left;
  border: 1px;
  margin-top: 20px;
  font-size: medium;
  margin-left: 190px;
  position: flex;
  border-radius: 8px;


}
.prev-theme2 .prev-txt-content2 .cta{
  margin-top: -10px;
  margin-left: 800px;
  opacity: 0.5;
  font-size: 13px;
  color: black;
  border-radius: 32px;
  height: 40px;
  width: 150px;
  background: transparent;
  border-color: black;
}
.prev-theme3 .prev-txt-content3 .cta{
  margin-top: 10px;
  margin-left: 300px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 13px;
  color: white;
  border-radius: 32px;
  height: 40px;
  width: 200px;
  background: rgb(153, 255, 0);
  
  
}
.prev-theme4 .prev-txt-content4 .cta{
  margin-top: -40px;
  margin-left:600px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 13px;
  color: white;
  border-radius: 40px;
  height: 40px;
  width: 200px;
  background:rgb(250, 162, 0);
  
}

.or-tag{
margin-left:540px ;
opacity: 0.5;
font-size: medium;
margin-top: -47px;


}

